
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.board{
    width: 375px;
    height: 500px;
    border: 1px solid gold;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.board div {
    width: 25px;
    height: 25px;
}

.invader {
    background-color: blue;
	border-radius: 20px;
}

.shooter {
	background-color: red;
}